@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h1,
h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}
p,li,a{
    font-size: var(--fs-700);
    letter-spacing: 0.1rem;
    font-family: "Urbanist", sans-serif;
    font-weight: var(--fw-semi-bold);
    color: var(--para-color);
    line-height: 1.5;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a{
    text-decoration: none;
}
/* ? theme */
:root{
    --bg-4-color:hsl(0, 2%, 41%);
    --bg-3-color:hsl(0, 2%, 15%);
    --main-color: hsl(8, 77%, 57%);
    --font-color: hsl(0, 0%, 100%);    --para-color: #a3a3a3; 
    --hero-heading-color: #797070;
    --footer-bg-color: #040d12; 
    --section-bg-color:hsl(0, 0%, 0%);
    --fw-regular: 400;
    --fw-semi-bold: 700;
    --fw-bold: 900;
    --input-color:hsl(0, 5%, 50%);
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 2rem;
    --fs-700: 1.5rem;
    --fs-750: 2.2rem;
    --fs-800: 4.7rem;
    --fs-900: 6.5rem;
}
/* ? utility classes */
.fw-bold{
    font-weight: var(--fw-bold);
}
.fw-semi-bold{
    font-weight: var(--fw-semi-bold);
}
.fw-regular{
    font-weight: var(--fw-regular);
}
.fs-900{
    font-size: var(--fs-900);
}
.fs-800{
    font-size: var(--fs-800);
}
.fs-700{
    font-size: var(--fs-700);
}
.fs-750{
    font-size: var(--fs-750);
}
.fs-600{
    font-size: var(--fs-600);
}
.head2-color{
    color: var(--font-color);
}
.input-color{
    color: var(--input-color);
}
.text-align{
    text-align: center;
}
:is(
.section-hero,
.section-color--content
).container:first-child{
    padding: 6.4rem 2.4rem 2.4rem 2.4rem;}
 .btn{
     display: inline-block; 
    background-color: var(--main-color);
    color: var(--font-color);
    border-radius: 2.5rem;    
    padding: 1.2rem 3.2rem;
   margin: 19rem 2.3rem 1rem 0rem;
   
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
} 
.btn-primary{
    background-color: var(--main-color);
    color:var(--btn-color);
    padding: 1.2rem 3.2rem;
    font-weight: 600;
    font-size: 1.9rem;
    border-radius: 1.6em;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;
    -ms-border-radius: 1.6em;
    -o-border-radius: 1.6em;
}
 .btn-black{
    background-color: #110f0f;
    color: var(--font-color);
    border-radius: 10px solid white;
    -webkit-border-radius: 10px solid white;
    -moz-border-radius: 10px solid white;
    -ms-border-radius: 10px solid white;
    -o-border-radius: 10px solid white;
}
.hero-btn{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    
  }
  .grid{
    display: grid;
}
.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
    column-gap: 20rem;
}
  .grid-four--cols{
    grid-template-columns: repeat(4,1fr);
    margin-top: 6rem;
    column-gap: 17rem;
}
.container{
    max-width: 144rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  input,
button,
textarea,
select {
  font: inherit;
}
section{
    background-color: var(--section-bg-color);
}
section .third-page{
    background-color: var(--bg-3-color);
}
/* ! layout */

.first-page{
    background-image: linear-gradient(
        to top right,
        #111111,
        #777777
    );
}

/*? navbar section ***/
.section-navbar{
    width: 100%;
}
.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
}
.section-navbar .container ul{
    display: flex;
    gap: 3.2rem;
    & li a {
        color: var(--font-color);
        text-transform: uppercase;
        display: inline-block;
        font-weight: 400;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom:-.35rem;
            left: 0;
            width: 0%;
            border-bottom: .2rem solid var(--main-color);
            transition: all .3s linear;
        }
    }
    & li a:hover::after{
        width: 100%;
    }
 }
 .navbar-brand .first-heading{
    font-weight: 900;
    font-size: 4.8rem;
    color: var(--main-color);
 }
 .navbar{
    position: relative;
 }
 .navbar .btn-secondary a{
    position: absolute;
    top: 1rem;
 }

 /** hero ***  start    Section *****/ 
 .section-hero .grid {
    align-items: center;
    gap: 6.4rem;
    & .hero-subheading {
        margin-top: 4.8rem;
      letter-spacing: 0.2rem;
      font-size: 1.7rem;
      word-spacing: 0.2rem;
      color: var(--hero-heading-color);
      font-weight: 400;
      position: absolute;
      top:50rem;
      left: 24rem;
    }
    & .container{
        position: relative;
    }
  
    & .hero-heading {
        position: absolute;
      font-size: 7rem;
      line-height: 1.5;
      font-family: "Jost";
      color: var(--font-color);
      font-weight: 900;
     left: 24rem;
     top: 18rem;
    }
  }

  .section-hero--image img {
    width: 65%;
    height: auto;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    position: relative;
    right: -26.8rem;
}
.boxes{
    border-radius: 20px;
    text-align: center;
    display: flex;
    position: relative;
  } 
  .box1{ 
   position: absolute;
   top: -58rem;
   right: -5rem;
   text-align: center;
   backdrop-filter: blur(25px);
   text-align: center;
   border: 1px solid rgb(63, 61, 61);
   border-radius: 2rem;
   -webkit-border-radius: 2rem;
   -moz-border-radius: 2rem;
   -ms-border-radius: 2rem;
   -o-border-radius: 2rem;
}
  .box1-heading  { 
   font-weight: 900;
   font-size: 4.1rem;
   color: var(--font-color);
  }
.box1-para{
    padding: 1.9rem;
}
  .box2{
    display: flex;
    left: 20rem;
    padding: 2.5rem;
    position: absolute;
    text-align: center;
    backdrop-filter: blur(25px);
    text-align: center;
    border: 1px solid rgb(63, 61, 61);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    bottom: 12rem;
    gap: 5rem;
  }
.box-sub{
right: 20rem;
}
  .box2-heading{
    font-weight: 900;
    font-size: 3.5rem;
    padding-left: 1.2rem;
    color: var(--font-color);
  }
  .box2-para{
    padding: 1.9rem 0 2rem 1rem;
}
   .circle{
    border: 1px solid black;
    border-radius: 50px;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #E6533C;
    position: absolute;
    top: 6rem;
    position: absolute;
    left: .5rem;
  }
 /*****  hero End      Section *****/
 

 /*! about css section  */
 .section-common-heading{
    text-align: center;
 }
       .section-2-tittle{
            text-align: center;
        }
      
      .imgall img{
            border-radius: 15rem;
            left: 2rem;
           position: relative;
        }
        /* ? Run content */
        .third-page{
            background-color: var(--bg-3-color);
            border-radius: 4rem ;
        }
        .section-run--content{
           text-align: left;
           padding-left: 5rem;
           padding-top: 1.5rem;
        }
        .imgall-run .run{
            border-radius: 10rem;
            width: 100%;
            padding-right: 5rem;
            height: auto;
        }
 .section-color--content{
     text-align: left; 
 }
/* ! color-img-section */
.grid-img-color{
     grid-template-columns: repeat(3,1fr); 
     margin: 5rem;
     /* gap: .5rem; */
     
    
}
.exercise-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}
/* .box-1{
    position: relative;
    background-color: #a4e480;
}
.box-1:before{
    position: absolute;
    content: "";
    background-blend-mode: screen;
    opacity: 0.3;
} */
.container .exercise-img{
   background-color: var(--bg-4-color);
} 

 /* !Bmi content */
 .fifth-page{
   background-color: var(--section-bg-color);
 }
 .fifth-page .Bmi-chart{
    background-color: var(--bg-3-color);
    
 }
 input{
    background-color: var(--bg-4-color);
    border-radius: 1rem;
    padding: 1.5rem ;
    margin-top: 2rem;
    width: 20rem;
    height: auto;
 }
 .grid-input--cols{
    grid-template-columns: repeat(2,1fr);
    grid-area: nav;   
 }
 .chart-para{
    margin-top: 1rem;
 }
 .grid .grid-chart-input{
    display: grid;
    grid-template-areas: "nav nav "
    "side side"
    " footer footer";
    column-gap: 1rem;
 }
.input-5 {
    grid-area: footer;
    width: 100%;
}
table{
    width: 120%;
    height: 60%;
    margin: 2rem 0 0;
    text-align: center;
    border: 1px solid #777777;
    border-collapse:collapse ;
    & th{
        color: var(--font-color);
        height: 240%;
    }
    & tr,td,th{
        border: .1rem solid #777777; 
        font-size: 2rem;
    }
    & tbody{     
        color: #777777;
        font-size: 1rem;
    }
}

/* ! our images */
 .container .our-images{
    background-color: var(--bg-3-color);
    border-radius: 3rem;
    position: relative;
    margin-top: 3rem;
    padding: 2rem;
 }
 .grid-three--cols{
    grid-template-columns: repeat(3,1fr);
    row-gap: 1rem;
    column-gap: 1rem;
 }
 .our-images img{
    border-radius: 3rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    object-fit: cover;
    aspect-ratio: 1/1;
 } 
 /*****  footer *****/  
 .footer-heading{
    color: var(--main-color);
 }.footer-content p{
margin: 1rem 0 3.2rem 0;
   
 }
 .footer-page{
    background-color: var(--bg-3-color);
 }
 
 .grid-three--cols-prime{
    grid-template-columns: repeat(3,1fr);
    gap: 28rem;
 }
 
 .h3-head{
    line-height: 8rem;
    font-size: 3rem;
 }
 .container .footer-ul li{
    font-size: 2rem;
 }
 .copy{
    text-align: center;
    color: rgb(170, 156, 156);
    position: relative;
    left: 50rem;
 }
 /***** End  footer *****/
 ::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--font-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--footer-bg-color);
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
  }
input:focus-visible{
    outline:0.1rem solid rgb(186, 247, 20);
}

/* ! scroll animation and scroll snap */

/***** Section media quereis *****/ 
@media (max-width:576px) {

    html {
        font-size: 56.25%;
        /* 1rem=9px */
    }
    .section-hero--image img{
        width: 80%;
    }
    .grid-two--cols,.grid-four--cols{
        grid-template-columns: 1fr;
    }
 .grid-four--cols .imgall{
        text-align: center;
        margin: 2rem;
    }
    .section-navbar .container{
        display: flex;
        flex-direction: column;
    }
    .section-hero--image{
        width: 50%;
        height: auto;
    }
    .section-hero--content{
        
        & .hero-heading{
            font-size: 1rem;
        }
    }
/* ! RUN */
.section-run--content img{
    width: 50%;
    height: auto;
    /* padding: 2rem; */
}
.section-run--content{


    & btn{
        margin-top: 2rem;
    }
}

/* ! bmi chart */
.grid-input--cols{
    grid-template-columns: 1fr;
    & .table-chart{
        padding-left: 0;
    }
}
.grid-chart-input{

    & input{
       column-gap: 1rem;
    }
}
/* ! grid image color */
.grid-img-color{
    grid-template-columns: repeat( 2,1fr);
}
.exercise-img img{
    width: 120%;
    padding-left: 0;
}
/* ?our-images */
.grid-three--cols{
    grid-template-columns: 1fr
}



/* ! footer-part */
.grid-three--cols-prime{
    grid-template-columns: 1fr;
    gap: 2rem;
}
}



/***** End Section media quereis *****/
